<!-- (onToolbarPreparing)="onToolbarPreparing($event)" -->

<dx-data-grid
  id="dataGrid"
  [dataSource]="dataSource"
  [focusedRowEnabled]="true"
  (onContentReady)="dgConfig.dgContetnReady($event)"
  (onSelectionChanged)="dgConfig.selectionChanged($event)"
  (onToolbarPreparing)= "onToolbarPreparing($event)"
  [showBorders]="true"
>
  <dxo-editing
    mode="row"
    [useIcons]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [confirmDelete]="true"
    [allowAdding]="true"
  >
  </dxo-editing>

  <dxo-selection mode="single"> </dxo-selection>

  <dxi-column dataField="id" caption="№" [width]="70"></dxi-column>
  <dxi-column dataField="lastname" caption="Фамилия"></dxi-column>
  <dxi-column dataField="name" caption="Имя"></dxi-column>
  <dxi-column dataField="midname" caption="Отчество"></dxi-column>

  <dx-button
    icon="favorites"
    (onClick)="SetAppUser()"
    text="Выбрать пользователя"
    *dxTemplate="let data of 'FavoritesButton'"
    hint="Выбирать в списке пользователей любого пользователя, и устанавливать его в качестве текущего пользователя приложения"
  >
  </dx-button>
</dx-data-grid>
