<h2>Стек: Angular, Angular Material, NgRx, RxJs, DexExtreme <br>
Создать приложение с использованием: Angular версии 10+, Angular Material 10+, NgRx 10+, RxJS 6+, DevExtreem 20+ <br>
Цель создаваемого приложения - реализовать интерфейс работы со списком пользователей.</h2>
    
<ul>
<li>Реализовать сервис для получения списка пользователей. Сервис может отдавать данные из обычного json объекта.</li>
<li>Реализовать хранение текущего пользователя с использованием NgRx store. При инициализации приложения, автоматически выбирать первого пользователя из списка пользователей.</li>
<li>Реализовать добавление, удаление, редактирование пользователей</li>
<li>Реализовать компонент, содержащий DevExtreme DataGrid со списком пользователей.</li>
<li>Реализовать ленивую загрузку модуля, содержащего список пользователей. Перед открытием компонента, ему должен быть доступен список пользователей</li>
<li>Реализовать возможность выбирать в списке пользователей любого пользователя, и устанавливать его в качестве текущего пользователя приложения. При изменении выбранного пользователя, изменять данные в левом сайднаве</li>
<li>Вынести всю бизнес-логику из компонента, содержащего список пользователей в сервис, выступающий в качестве фасада.</li>
<li>Использовать модульность. Каждая сущность является отдельным модулем и в случае чего может перенестись на другой проект без больших трудозатрат Дизайн и спорные вопросы на усмотрение разработчика</li>
</ul>
